.block-countries{
    background: #FFF;
    border-radius: 10px;
    height: fit-content;
}

agm-map {
    width: 100%;
    height: 450px;
}

.country{
    border: 1px solid #000;
    cursor: grab;
}

.drop-list{
    min-height: 300px;
    width: 100%;
}